# YAARO0_API_URL=https://yaaro-backend-production-fb61.up.railway.app
YAARO0_API_URL=http://127.0.0.1:8000
YAARO0_WEB_URL=http://127.0.0.1:3000

# ZEGOCLOUD Video/Audio Calls (get from https://console.zegocloud.com)
ZEGO_APP_ID=
ZEGO_APP_SIGN=
